#root {
  max-width: 3000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .home {
  display: inline-flex;
} */

.box1 {
  float: top;
  width: 80%;
  margin-left: 10%;
  border: solid 1px;
  /* margin: 10%; */
  margin-bottom: 7%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 110px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}

.box2 {
  /* background-image: url('./assets/2468d56ba572da8ab5834fab5386c767.gif'); */
  background-position: center;
    background-size: cover;
  float: right;
  width: 30%;

  padding: 2em;
  border: solid 1px;
  margin-bottom: 7%;

  margin-right: 10%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 200px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}

.box3 {
  /* background-image: url('../public/—Pngtree—vector\ trophy\ icon_4184074.png'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  padding: 2em;
  border: solid 1px;
  width: 30%;

  margin-left: 14%;
  margin-bottom: 7%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 200px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}

.container {
  font-family: Arial, sans-serif;
  padding: 30px;
}

p {
  margin-bottom: 10px;
}

/* button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
} */

/* button:hover {
  background-color: #2980b9;
} */

/* input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
} */

/* input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
} */

/* input[type="submit"]:hover {
  background-color: #2980b9;
} */
