#root {
  max-width: 3000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home {

}

.box1 {
  float: top;
  width: 80%;
  margin-left: 10%;
  border: solid 1px;
  margin: 10%;
  margin-bottom: 15%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 110px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}

.box2 {
  float: right;
  width: 30%;

  padding: 2em;
  border: solid 1px;

  margin-right: 10%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 200px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}

.box3 {
  float: left;
  padding: 2em;
  border: solid 1px;
  width: 30%;

  margin-left: 10%;
  border: solid 1px;
  padding: 5%;
  /* display: flex; */
  align-items: center;

  height: 200px;
  padding: 0 20px;
  /* border-radius: 15px; */
  box-shadow: 0px 0px 20px #b6bec4;
}
